.hero-wrapper {
  max-width: 1050px;
  margin: 0 auto;
  padding: 2rem 1rem;
  text-align: center;
  color: $text-light;

  p {
    margin-top: 2rem;
    font-size: 1rem;
    color: $text-muted;
    line-height: 1.8;
    text-align: justify;

    @media (max-width: 600px) {
      // text-align: left;
      font-size: 0.95rem;
    }
  }
}

.hero {
  @include verticalCenter;
  justify-content: center;
  gap: 0.6rem;
  margin: 0 auto;
  width: fit-content;
  padding: 0.8rem 1.2rem;
  border-radius: 14px;
  background-color: $bg-light;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
  transition: all 0.3s ease;

  img {
    height: 48px;
  }

  h1 {
    font-size: 1.6rem;
    color: $text-light;
    font-weight: 700;

    @media (max-width: 600px) {
      font-size: 1.3rem;
    }
  }
}
